.publish_activity_wrap{
	.activity_cover_show, .activity_subject, .activity_content_edit, .activity_publish_btn{
		width: 85%;
		margin: 25px auto;
		padding: 10px;
		.activity_cover_text{
			display: inline-block;
			width: 80%;
			height: 200px;
			text-align: center;
			line-height: 200px;
			border: 1px solid #2db7f5;
		}
		img{
			width: 80%;
		}
		.activity_cover{
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.ant-input{
			width: 450px;
			margin-left: 20px;
		}
		.ant-btn{
			margin-right: 20px;
		}
	}
}